$font: var(--font-main);
$danger: #E9033A;
$key-field-text-color: #2E3039;
$white: #ffffff;
$primary: #335FFA;
$primary-hover: #5C7FFB;
$primary-disabled: #D7E0FF;
$btn-disabled: #9db3ff;
$text-disabled: #aaaaaa;
$primary-loaded: #767CFF;
$links: #0038ff;
$text: #20252E;
$button: #E4E4E4;
$subBG: #F2F2F280;
$bg: #fff;
$placeholder: #B3B3B3;
$pageBG: #F0F0F0;
$branding-base-selection: #3697F126;
$base-simple-hover: #0000000D;
$base-secondary-hover : #00000005;
$text-brand: #3072B3;
$text-primary: #000000;
$line-generic: #0000001A;
$divider: #E5E5E5;
$default-button: #F2F2F2;
$filter-group-title: #575757;
$success: #25BD22;
$profile-width: 340px;
$control-height-l: 36px;
$control-radius: 8px;
$control-border-color: #E5E5E5;
$control-border: 1px;
