.confirm-code-entity {
  display: flex;
  justify-content: center;
}

.confirm-code-entity__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 340px;
}

.confirm-code-entity__input{
  margin-top: 25px;
}

.confirm-code-entity__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
