.update-password-entity {
  margin: auto;
  width: 420px;
}

.update-password-entity__form {
  width: 100%;
}

.update-password-entity__container {
  width: 100%;
  text-align: center;
}

.update-password-entity__fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.update-password-entity__update-button {
  margin-top: 25px;
}
.update-password-entity__back-link {
  margin-top: 25px;
  display: inline-block;
}
