.set-password {
  margin: auto;
  width: 420px;
}

.set-password__form {
  width: 100%;
}

.set-password__container {
  width: 100%;
  text-align: center;
}

.set-password__fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-bottom: 10px;
}

.set-password__back-link {
  margin-top: 25px;
  display: inline-block;
}
.set-password__reset-button {
  margin-top: 25px;
}
