@import "src/shared/vars";

.base-layout {
  background-color: $pageBG;
  background-image: url("./background.svg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
