@import 'src/shared/vars';

.password-change-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: $profile-width;
  box-sizing: border-box;
}

.block-settings {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
}

.password-change-form__inputs, .password-change-form__buttons {
  @extend .block-settings;
}
