@import 'src/shared/vars';

.user-change-telegram {
  display: flex;
  width: $profile-width;
  box-sizing: border-box;
  flex-direction: column;

  gap: 20px;
}

.user-change-telegram__buttons {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  gap: 10px;
}
