.validation-rules {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.validation-rules__rules-list {
  padding-left: 1rem;
  margin: 0;
}
.validation-rules__list-item {
  &::marker {
    font-size: 11px;
  }
}
.validation-rules__rules-text {
  white-space: pre-line;
  text-wrap: normal;
}
